body {
    background: #fff;
}


.container {
    padding: 0;
}

h1,
h2,
h3,
h4,
p,
a,
div {
    font-family: '微軟正黑體';
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

hr {
    color: #d7ac41;
    width: 62px;
    border: solid 1.5px;
    margin-top: 100px;
    margin-bottom: 25px;
}

h2 {
    font-size: 50px;
    font-weight: 600;
    color: #4a494b;
    margin-bottom: 40px;
    text-align: center;
}

nav {
    width: 100%;
    height: 130px;
    background: #fff;
}

nav > .container-fluid {
    padding-left: 60px;
    padding-right: 70px;
}

.navbar-header::before {
    display: none;
}

.navbar-header {
    height: 130px;
}

.navbar-header > .navbar-brand {
    padding-top: 30px;
}

nav img {
    width: 433px;
    height: 80px;
}

.navbar-text {
    margin-top: 50px;
    margin-left: -15px;
}

.navbar-text > li > a {
    font-size: 14px;
    color: #6c6c6c;
    font-weight: 600;
}

.navbar-text > li > a:hover,
a:active {
    color: #d7ac41;
    background: none;
}

header {
    background: url(../img/top-banner.jpg);
    height: 782px;
    background-repeat: no-repeat;
    background-size: cover;
}

header > img {
    width: 100%;
}

.header_text {
    color: #fff;
    text-align: center;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

header h1 {
    font-size: 80px;
    font-weight: 600;
    letter-spacing: 10px;
    padding-top: 335px;
    margin-bottom: 40px;
}

header p {
    font-size: 24px;
    position: relative;
    margin-left: 50px;
    font-weight: 100;
    padding-top: 20px;
}

.about {
    background: url(../img/about-bg.jpg);
    background-size: 100%;
    height: 754px;
    text-align: center;
    padding-top: 100px;
}

.about > .container {
    width: 56.25%;
}

.about img {
    padding-bottom: 40px;
}

.about p {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.62;
    color: rgba(255, 255, 255, 0.8);
}

.about hr {
    margin-top: 40px;
    margin-bottom: 40px;
}

.about p > span {
    font-size: 24px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.about_text {
    margin: 0 auto;
    text-align: left;
}

.service {
    background: url(../img/service-bg.jpg);
    background-size: 100%;
    height: 667px;
    text-align: center;
}

.service .row {
    padding: 0;
    margin: 0;
    margin-left: -30px;
}

.service .row > li {
    width: 270px;
    height: 60px;
    font-size: 16px;
    font-weight: 600;
    color: #6c6c6c;
    background: rgba(255, 255, 255, 0.7);
    padding: 22px 0;
    margin-left: 30px;
    margin-bottom: 30px;
}

.member {
    padding-bottom: 100px;
}

.member_two {
    /*width: 1170px;*/
    margin: 0 auto;
}

.member_img > img {
    width: 270px;
    height: 400px;
    ;
}

.member_people > .member_text {
    width: 300px;
    height: 400px;
    background: rgb(246, 244, 242);
    padding-left: 30px;
}

.member_text > h3 {
    margin-top: 60px;
    font-size: 50px;
    font-weight: 600;
}

.member_text > h4 {
    font-size: 16px;
    font-weight: 900;
    margin-top: 18px;
}

.member_text > div > p {
    font-size: 16px;
}

.member_text > .introduction {
    margin-top: 16px;
}

.member_text > .email {
    margin-top: 20px;
}

.member_space {
    width: 30px;
    height: 400px;
}

.member > .clear {
    width: 270px;
    height: 60px;
}

.member > .box {
    text-align: center;
    background: #fff;
    width: 270px;
    height: 60px;
    margin: 0 auto;
    padding: 20px 0;
    font-size: 16px;
    border: solid 1px #d7ac41;
    color: #d7ac41;
}

.footer_img {
    background: url(../img/footer-bg.jpg);
    height: 437px;
}

footer hr {
    margin-left: 0;
}

footer .sub_left {
    margin-right: 110px;
    height: 110px;
}

footer .container > div > h4 {
    margin-right: 18px;
}

footer .container > div > p {
    font-size: 16px;
    margin-top: -2px;
}

footer .container .br {
    width: 10px;
    height: 20px;
}

footer .container .sub_right {
    width: 400px;
}

.footer_under {
    height: 48px;
    background: #2b2b2c;
}

.footer_under > p {
    text-align: center;
    color: #fff;
    font-size: 16px;
    padding: 12px 0;
}

.box {
    font-weight: 600;
}

.clear {
    clear: both;
    display: block;
}
